body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: black;
}

.search-bar {
	width: '85%';
	background-color: rgba(255, 255, 255, 0.3);
	padding: 3rem;
	margin: 15px;
}

.search-bar input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin: 0 auto;
}

.movies-list {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.movie-card {
	margin: 2rem auto;
	width: 70%;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 1rem;
}

.card {
	display: flex;
	justify-content: space-around;
}

.button {
	text-decoration: none;
	padding: 10px;
	background-color: #5bc0de;
}

.back-button {
	color: #fff;
	text-decoration: none;
	margin: 15px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.7);
}

.movie-list-item {
	background-color: rgba(255, 255, 255, 0.4);
	width: 25%;
	margin-bottom: 1rem;
	padding: 15px;
}

@media (max-width: 600px) {
	.card {
		flex-direction: column;
	}
}
